/*---------------Navigation switching------------------*/
.active{
    display: none;
    
}

.body_context{
  padding-left: 5.5em;
}



@media (max-width: 800px){
    #menu{
        display: none;
    }

    .active{
    display: block;
    position: fixed;
    
    }

    .body_context{
        padding-top: 4em;
        padding-left: 0;
    }

    
}


/*---------------body context------------------*/







/*-----------------product detail page------------*/
.product_detail_box {
    display: inline-block;
    /*display: block;*/

    width: 34%;
    height: 100%;
    margin: 0;
    padding: 5em;
    border: 0.2em solid #bea67c;  
    margin-right: 0;
    margin-left: 0;
    /*position: relative;*/
    position: fixed;
    /*float: right;*/
    right: 0;

}

.product_detail_img {
    display: inline-block;
    /*display: block;*/
    width: 55%;
    /*height: 100%;*/
    margin: 0;
    /*border: 0.2em solid #bea67c;  */
    /*margin-right: 0;*/
    /*margin-left: 0;*/
    /*position: relative;*/
    /*position: fixed;*/
    /*overflow: auto;*/
    /*float: right;*/
    /*right: 0;*/

}

.product_detail_hint {
    display: inline-block;
    position: fixed;
    left:30%;
    top: 95%;
    width: 4em;
    /*border: 0.2em solid #bea67c;  */


}

.detail_img_grid_rect{
    width: 100%;
}

.detail_img_grid_square{
    width: 49.4%;
}

