html {
  /*background: #333 url(http://subtlepatterns.com/patterns/tex2res4.png) 0 0 repeat;*/
  padding: 0;
}


body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: black;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}


h1{
    font-size: 2.2em;
    /*margin-top: 0px;
    margin-bottom: 20px;
    padding-left: 10px; */
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

h2{
    font-size: 2em;
    /*padding-top: 0.1em;
    padding-bottom: 0.1em;*/
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

h3{
    /*padding-top: 0.1em;
    padding-bottom: 0.1em;*/
    font-weight: 400;
    text-transform: uppercase;
    color: #bea67c;
    font-size: 1.6em;
}

h4{
    /*padding-top: 0.1em;
    padding-bottom: 0.1em;*/
    font-weight: 400;
    text-transform: uppercase;
    color:rgba(255,255,255,0.5);
}

h5{
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-weight: 400;
    color: #bbbbbb;
}


p{
  padding: 4em 0em 4em 0em;
  color: rgba(255,255,255,0.5);
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 200%;
}

/*--------------------button style-------*/

.button-add {
  display: inline-block;
  padding: 0.8em 2.8em; /*Clears an area around the content.*/
  margin: 2em 1em 0em 0em; /*Clears an area outside the border.*/
  color: #bea67c;
  border: 2px solid #bea67c;
  border-radius: 0em;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: .2em;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-checkout {
  display: inline-block;
  padding: 0.8em 2.8em; 

  /*margin: 2em 1em 0em 0em; */
  color: #bea67c;
  border: 2px solid #bea67c;
  border-radius: 0em;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: .2em;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-add:hover, .button-add:focus, .button-checkout:hover, .button-checkout:focus{

  color: #0b0b0d;
  background-color: #bea67c;
  border: 2px solid #bea67c;
}


/*-------------------product page elements-------------*/

#rig {
    max-width: 4000px;
    /*margin-left: 30%;*/
    margin:0 auto; /*center aligned*/
    padding: 0;
    font-size: 0;
    list-style: none;
    background-color: #000;
}

#rig li {
    display: inline-block;
    *display: inline;/*for IE6 - IE7*/
    width: 25%;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#rig li ul li{

    width: 50%;

}


#rin .4x4{

    width: 10%;

}


#rig li ul {
    
    padding: 0;
}

#rig div {
    display: inline-block;
    *display: inline;/*for IE6 - IE7*/
    width: 25%;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
        
/* The wrapper for each item */
.rig-cell {
    display: block;
    position: relative;
    overflow: hidden;
}
        
/* If have the image layer */
.rig-img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    transform: scale(1);
    transition: all 1s;
}

#rig .rig-cell:hover .rig-img {
    transform: scale(1.05);
}

#rig .rig-cell:hover .rig-img {
    transform: scale(1.05);
}
        
/* If have the overlay layer */
.product_collage .rig-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #000 no-repeat center 10%;
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0);/*For IE6 - IE8*/
    transition: all 0.6s;
}

#rig .rig-cell:hover .rig-overlay {
    opacity: 0.8;
}

#rig .rig-cell:hover .rig-overlay {
    opacity: 0.8;
}

/* If have captions */
.rig-text {
    display: block;
    padding: 0 1em;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 160%;
    top: 40%;
    color: white;
    opacity: 0;
    filter: alpha (opacity=0);/*For older IE*/
    transform: translateY(-20px);
    transition: all .3s;
}

#rig .rig-cell:hover .rig-text {
    transform: translateY(0px);
    opacity: 0.9;
}

#rig .rig-cell:hover .rig-text {
    transform: translateY(0px);
    opacity: 0.9;
}



/*testing grid*/







