#menu_icon:hover {
    src="icon/menu_hover.png";
}

/*Horizontal Navigation Bar elements*/
.active{
  width: 100%;
  padding: 1em;
  background-color: #000000;
  text-decoration: none;
  margin: 0;
  position: fixed;
  z-index: 1000;

}

.active li a:hover{
  /*color: white;*/
}

.active ul {
  list-style-type: none;
  overflow: hidden;
  color: white;
  text-decoration: none;
}


.active ul li {
    /*color: #B29C75;*/
    color: white;
    float: left;
    list-style-type: none;
    /*background-color: white;*/
    text-decoration: none;
}

.dropdown div{
  width: 100%;
}

.active li a, .dropbtn {
    display: inline-block;
    /*color: #B29C75;*/
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    text-decoration: none;
}

.active li a:hover {
    /*background-color: white;*/
}


#horizontal_about:hover a{
  color: white;
}

#horizontal_account:hover a{
  color: white;
}

#hover_nothing:hover {
  background-color: #000000;
}



.active li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0, 0.8);
    /*background-image: -moz-radial-gradient(0 50%, ellipse  farthest-side, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.5) 33%, rgba(0,0,0,0) 100%);
    background-image: -webkit-radial-gradient(0 50%, ellipse  farthest-side, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.5) 33%, rgba(0,0,0,0) 100%);
    background-image: radial-gradient(0 50%, ellipse  farthest-side, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.5) 33%, rgba(0,0,0,0) 100%);*/

    /*box-shadow: 0em 80em 16em 0em rgba(0,0,0,0.2);*/
    text-decoration: none;
    left: -1%;
    /*top: 3em;*/
    /*bottom: -50%;*/
}

/*vertical dropdown cart*/

.dropdown-cart {
    display: none;
    position: absolute;
    background-color: #131313;
    
    /*box-shadow: 0em 80em 16em 0em rgba(0,0,0,0.2);*/
    text-decoration: none;
    left: -1%;
    /*top: 3em;*/
    /*bottom: -50%;*/
}

.horizontal_cart_box{
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  /*border: 2px solid #bea67c;*/
  border-bottom: 0.1px solid #bbbbbb;
}

.horizontal_cart_box div{
  width: 100%;
  height: 12em;
  display: inline-block;
  vertical-align: top;
  /*border: 2px solid #bea67c;*/
  /*border-bottom: 0.1px solid #bea67c;*/
}
/*.horizontal_cart_box h2{
  border-bottom: 0.1px solid #bbbbbb;
}
*/
#no_border{
  border: none;
}

#smaller_border{
  height: 8em;
  border: none;
}

.horizontal_cart_box_content .horizontal_cart_box_section1{
  width: 5%;
  margin-top: 10%;
}

.horizontal_cart_box_section1 img{
  width: 100%;

}

.horizontal_cart_box_content .horizontal_cart_box_section2{
  width: 28%;
}

.horizontal_cart_box_section2 img{
  width: 100%;
}

.horizontal_cart_box_content .horizontal_cart_box_section3{
  padding-left: 8%;
  width: 35%;
}

.horizontal_cart_box_content .horizontal_cart_box_section4{
  width: 20%;
}

.horizontal_cart_box_content .horizontal_cart_box_total{
  width: 40%;
  height: 6em;
  /*height: 20%;*/
  /*border: 2px solid #bea67c;*/

}


.horizontal_cart_box_content .horizontal_cart_box_price{
  width: 40%;
  height: 6em;
  /*height: 60%;*/
  text-align: right;
  float: right;
  /*border: 2px solid #bea67c;*/

}

.horizontal_cart_box_content .horizontal_cart_box_total h2{
  margin: 0;
}


.horizontal_cart_box_content .horizontal_cart_box_price h2{
  margin: 0;

}

.horizontal_cart_box_content .horizontal_cart_box_button{
  width: 100%;
  /*margin-top: 2em;*/
  /*border: 2px solid #bea67c;*/

}

.horizontal_cart_box h4{
  /*font-size: 1.5em;*/
  color: #bea67c;
}

.dropdown-cart ul li{
  width: 80%;
}

.horizontal_cart_box .button-checkout{
  padding-left: 8em;
  padding-right: 8em;
  margin-left: 30%;
  /*margin-bottom: 10%;*/
}

.dropdown-content a {
    /*color: black;*/
    padding: 1em 2em;
    text-decoration: none;
    display: block;
    text-align: left;
    /*position: relative;*/
}

.dropdown-content a:hover {
  /*background-color: black;*/
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-cart {
    display: block;
}

.icon_head_horizontal{
  width: 2em;
  padding: 0.3em;
  padding-right: 5em;
}

.icon_horizontal{
  width: 2em;
  padding-right: 1em;
  padding-left: 1em;
  /*padding-top: 0.4em;*/
}

#horizontal_about a, #horizontal_account a{
  color: #bea67c;
  letter-spacing: .15em; 
  font-size: 0.5em;
  color: #bea67c;
  vertical-align: top;
  margin-left: 4em;
  /*margin-bottom: 0.7em;*/

}







/*--------------------------Vertical Navigation Elements-----------------------------------*/

.icon_vertical{
  width: 1em;
  padding-left: 0.3em;
  padding-top: 0.4em;
}

.icon_head{
  width: 2em;
  /*padding: 0.8em;*/
  padding-bottom: 10em;
}

#menu .account a{
  margin-top: 15em;
  margin-left: 0.15em;
  font-size: 0.5em;
  color: #bea67c;
  letter-spacing: .1em;
}

#menu .about a{
  margin-top: 1em;
  margin-left: 0.2em;
  font-size: 0.5em;
  color: #bea67c;
  letter-spacing: .1em;
}

#menu {
  /*display: none;*/
  /*border-left: 1px solid #FFF;*/
  /*border-right: 1px solid #FFF;*/
  background: black;
  float: left;
  font-size: 1.5em;
  min-height: 100%;
  /*margin-left: 1em;*/
  height: 100%;
  position: fixed;
  z-index: 9999;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  top: 0;
}



#menu li {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}

#menu li a {
  display: block;
  padding: 0.5em 1em;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

#menu a:hover, li:hover > a {
    color: #FFF;
  }

#menu li ul {
    padding: 0;
    position: absolute;
    overflow: hidden;
    display: none;
    left: 100%;
    top: 0.5em;
    float: none;
    background-color: rgba(0,0,0, 0.8);
    /*background-image: -moz-radial-gradient(0 50%, ellipse  farthest-side, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.7) 33%, rgba(0,0,0,0) 100%);
    background-image: -webkit-radial-gradient(0 50%, ellipse  farthest-side, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.7) 33%, rgba(0,0,0,0) 100%);
    background-image: radial-gradient(0 50%, ellipse  farthest-side, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.7) 33%, rgba(0,0,0,0) 100%);*/
}

#menu li ul li div div a{
  padding: 0;

}

/*vertical nav like element*/

#menu #vertical_like{
    width: 20em;
    height: 40em;
    top: -16em;
    background-color: #131313;
}



/*vertical nav cart element*/

#menu #vertical_cart{
    width: 20em;
    height: 40em;
    top: -18.5em;
    background-color: #131313;
}

#vertical_cart h2{
  font-size: 1em;
}


#menu #vertical_cart_checkout{ /*avoid multi ID*/
    width: 20em;
    height: 40em;
    top: -18.5em;
    background-color: #131313;
}

.cart_box h2{
    font-size: 1em;
}

.cart_box h3{
    font-size: 0.6em;
}

.cart_box {
    display: inline-block;
    width: 99%;
    height: 6em;
    border-top: 0.1em solid rgba(255,255,255,0.3);  
    /*border: 0.1em solid #bea67c;*/
}

h3.cart_box, h4.cart_box{
  display: inline;
}

.cart_box div{
  display: inline-block;
}

.cart_box_section1{
  width: 8%;
  /*height: 100%;*/
  /*border: 0.2em solid #bea67c;*/


}

.cart_box_section1 img{
  width: 100%;
 
  margin-bottom: 2em;
  margin-right: 1.5em;
  /*padding-bottom: 2em;*/
}

.cart_box_section2{

  width: 30%;
  height: 100%;
  /*border: 0.2em solid #bea67c;*/

}

.cart_box_section2 img{
  width: 100%;
  padding-top: 1em;
}

.cart_box_section3{
  width: 7em;
  vertical-align: top;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0;
  /*border: 0.2em solid #bea67c;*/
}

.cart_box_section3 h4{
  margin: 0;
}

.cart_box_section4{
  width: 2.5em;
  vertical-align: top;
  padding-top: 2em;
  padding-left: 0.5em;
  padding-right: 0;
  /*border: 0.2em solid #bea67c;*/

}

.cart_box_section4 h4{
  font-size: 1em;
  color: #bea67c;
}

.cart_box_total{
  width: 9em;
  
  /*border: 0.1em solid #bea67c;*/

}

.cart_box_price{
  width: 9.5em;
  text-align: right;
  /*border: 0.1em solid #bea67c;*/
}

.cart_box_button{
  /*width: 100%;*/
  margin-left: 25%;
  /*padding-top: 1.3em;*/horizontal_cart_box

}

.button-checkout:hover a{
  content: none;

}

#menu .button-checkout{
/*  padding-left: 7em;
  padding-right: 7em;*/
  padding: 0.8em 2.8em; 
  font-size: 0.6em;
  color: #bea67c;
}


  
  #menu li:hover ul {
    display: block;

  }
  
  #menu li ul a {
    position: relative;
    font-size: 0.8em;
  }
  
  #menu li ul a:hover:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: rgba(0,0,0,0.75);
    border: 1px solid #FFF;
    position: absolute;
    top: 0.5em;
    left: -0.75em;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #menu li ul li div a:hover:before{
    content: none;

  }

