/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 0.15em solid #333;
}

section h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 0.15em solid #333;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1), 0 3px 12px 0 rgba(0,0,0,0.1);
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the Add to cart button */
.button-add {
  display: inline-block;
  padding: 0.8em 2em;
  color: #bea67c;
  background-color: #fff;
  border: 2px solid #bea67c;
  border-radius: 0em;
  font-size: 12px;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-add:hover, .button-add:focus {
  color: #fff;
  background-color: #bea67c;
  border: 2px solid #bea67c;
}

/* Styling for the Checkout button */
.button-checkout {
  display: inline-block;
  padding: 0.8em 2.8em;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 0em;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-checkout:hover, .button-checkout:focus {
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
}

/* Styling for the In-text link */
a:link {
    text-decoration: none;
    color: #bea67c;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
}

/* Styling for the Submit/Reset button */
.button-submit {
  display: inline-block;
  padding: 0.8em 2.8em;
  color: #fff;
  background-color: #bea67c;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-submit:hover, .button-submit:focus {
  color: #fff;
  background-color: #000;
}

/* Styling for the Text Input Field */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
}



/* 
  TEXT ELEMENTS -------------------
*/

/* Styling for the numbered lists */
ol.numbered-lists {
  line-height: 2;
}

/* Styling for the navigation bar */
ul.navigation-bar {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  height: 100%;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #000;
    color: white;
}

/* Styling for the paragraphs */
p.paragraphs {
    text-indent: 30px;
    text-align: justify;
    line-height: 1.6;
    color: #a6a6a6;
}



/* 
  COMBINED ELEMENTS -------------------
*/
.floating-box {
    display: inline-block;
    width: 300px;
    height: 350px;
    margin: 5px;
    border: 1px solid #bea67c;  
}