*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

[class^='col-'] {
  float: left;
  padding: 0; 
  /*background-color: yellow;*/
}

.col-5:after{
  display:block;
  content:"";
  clear:both;
}
.col-1 {
  width: 8.33%;
}

.col-2{
  width:16.67%;
}

.col-3{
  width:25%;
}

.col-4{
  width:33.33%;
}

.col-5{
  width:41.67%;
}

.col-6{
  width:50%;
}
.col-7{
  width:58.33%;
}
.col-8{
  width:66.67%;
}
.col-9{
  width:75%;
}
.col-10{
  width:83.33%;
}
.col-11{
  width:91.67%;
}
.col-12{
  width:100%;
}

[class^='col-'] {
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  /*background-color: red;*/
}

.posters div .col-4 {
  padding:0;
}

[class^='col-']:last-of-type {
  padding-right: 0;
}



@media (max-width: 60rem) {
  .col-3{
  width:50%;
  }
  .why-juu .col-3{
    width: 25%;
  }
}
@media (max-width: 40rem) {
  .why-juu .col-3{
    width: 50%;
  }
}


@media (max-width: 30rem) {
  .col-3{
  width:100%;
  }
  .why-juu .col-3{
    width: 50%;
  }
}



@media (max-width: 30rem) {
    .login{
    width:100%;
    }
    .textbox{
      width:100%;
    }    
}
.productlist [class^='col-'] {
  padding: 0rem;
  margin: 0rem;
  /*height:auto;*/
  /*background-color: red;*/
}



@media (max-width: 60rem) {
  .menu-firstrow{
    display: none;
  }
/*  .hamburger{
    display:block;
  }*/
  header .second-nav{
    display:block;
    z-index: 999;
  }

  .jumbotron-title{
      
      left:45%;
    }    

}

@media (max-width: 90rem) {
.jumbotron{
  min-height:35rem;
}
  }

  @media (max-width: 85rem) {
.about-banner{
  min-height: 35rem;
}
  }


@media (max-width: 50rem) {
   .jumbotron-title{
      left:40%;
    }    
}
@media (max-width: 40rem) {
    .jumbotron-title{
      left:35%;
    } 
}
@media (max-width: 30rem) {
  .jumbotron-title{
      left:20%;
      top:26.5%;
    } 
  .jumbotron-title h3{
      font-size: 1.5rem;
  }
}
@media (max-width: 100rem) {
  .jumbotron{
    background-position: 65% -5%;
  }
}

/*.product1{
  background-image: url(../img/product1.jpg);
  min-height:700px;
  background-size:contain;
  background-repeat:no-repeat;
}

.product2{
  background-image: url(../img/product2.jpg);
  min-height:700px;
  background-size:contain;
  background-repeat:no-repeat;
}*/


.grid:after {
  content: "";
  display: block;
  clear: both;
}


@media (max-width: 40rem) {
  .col-6{
  width:100%;
  }
  .jumbotron{
    background-position:65% 0%;
  }
  .col-4 {
    width:100%;
  }
  .col-8 {
    width:100%;
  }
  .col-6 {
    width:100%;
  }
  [class^='col-'] {
    padding-right:0;
  }
}


/* clearfix */
.masonry-container:after {
  content: '';
  display: block;
  clear: both;
}

.masonry-section{
  padding-left: 0.3rem;
}


.product {
  width: 33.33%;
  padding-right: 0.3rem;
  float: left;
  padding-bottom: 0.3rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;

}
/*.product-sizer{
  width: 33.33% 
}*/
@media (max-width: 60rem) {
  /*.product-sizer, */
  .product {
    width: 50%;
  }
}
@media (max-width: 30rem) {
  /*.product-sizer, */
  .product {
    width: 100%;
  }
}
.product img{
  display:block;
  max-width: 100%;
}

.masonry-container .product .relative-container a img { 
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.masonry-container .product .relative-container a img:hover{ 
  opacity: 1;
}

.relative-container{
  position: relative;
  max-width: 100%;
}
.product-text-container{
  position:absolute;
  padding:1rem;
  z-index: 10;
}
.white-font{
  color:white !important; 
}
.stay-bot{
  bottom: 0rem;
}
.product-text-container p{
  color: #a1caca;
}
.product-title{
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.5rem; 
  color: #a1caca;
  font-family: 'Titillium Web', sans-serif;
}

@media (max-width: 30rem) {
    .login{
    width:100%;
    }
    .cart{
      width:100%;
    }
    #cart-dropdown .grid .col-12 .blue-button{
      width: 90%;
    }
    .textbox{
      width:100%;
    }
}



@media (max-width: 60rem) {
  .menu-firstrow{
    display: none;
  }
/*  .hamburger{
    display:block;
  }*/
  header .second-nav{
    display:block;
    z-index: 999;
  }

  .jumbotron-title{
      top: 20%;
      left:45%;
    }
  header .nav-bar{
  border-bottom: 1px solid #eff0f0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

}
@media (max-width: 50rem) {
   .jumbotron-title{
      left:35%;
    }    
}
@media (max-width: 40rem) {
    .jumbotron-title{
      left:20%;
    } 
}
@media (max-width: 30rem) {
  .jumbotron-title{
      left:15%;
    } 
  .jumbotron-title h3{
      font-size: 1.5rem;
  }
}
@media (max-width: 100rem) {
  .jumbotron{
    background-position: 65% -5%;
  }
}



@media (max-width: 75rem) {
   .posters figcaption h2{
    font-size: 1.5rem;
   }  
   .poster1 h2{
    font-size: 2rem;
   }
   .poster1 p{
    font-size: 1rem;
   }
}
@media (max-width: 60rem) {
   .posters figcaption h2{
    font-size: 1.5rem;
   }  
   
   .posters figcaption p{
    font-size: 0.8rem;
   } 

}
@media (max-width: 47rem) {
   .poster1, .poster2, .poster3{
    width: 100%;
   }
   .posters figcaption h2{
    font-size: 3rem;
   }  
   .posters figcaption p{
    font-size: 1.3rem;
   } 
   .poster1 h2{
    font-size: 3rem;
   }
   .poster1 p{
    font-size: 1.3rem;
   }

}
@media (max-width: 32rem) {
   .posters figcaption h2{
    font-size: 2rem;
   }  
   .posters figcaption p{
    font-size: 1rem;
   } 
   .poster1 h2{
    font-size: 2rem;
   }
   .poster1 p{
    font-size: 1rem;
   }

}

/* ==================================================
   STORES PAGE GRID
================================================== */
.selector-grid:after {
  content: "";
  display: block;
  clear: both;
}
.selector1of3{
  width:33.33%;
  float: left;
}
@media (max-width: 60rem) {
  .store-selector{
    padding-top: 5.5rem;
  }
}
@media (max-width: 70rem) {
  .selector-detail{
   width: 100%;
   padding-left: 0;
  }
}
@media (max-width: 45rem) {
  .selector-detail{
   display: none;
  }
  .selector-title{
    font-weight: 200;
  }
}
@media (max-width: 30rem) {
  .store-selector h3{
    font-size: 1.3rem;
  }
  .store-selector p{
    font-size: 0.7rem;
  }
  .selector-detail{
    padding-left: 0;
  }
  .selector, .selector:visited{
  padding: 0.5rem;
  }
  .active-selector, .active-selector:visited{
  padding: 0.5rem;
  }
}
/* ==================================================
   END OF STORES PAGE GRID
================================================== */


/* ==================================================
   CHECKOUT PAGE GRID
================================================== */

/*.field input{
  width: 70%
}*/
.field-full{
  width: 100%;
}
.email-input:after{
  display:block;
  content:"";
  clear:both;
}

.field-half{
  width: 50%;
  display: inline-block;
  float: left;
}
.field-two-thirds{
  width: 66.67%;
  display: inline-block;
  float: left;
}
.field-one-thirds{
  width: 33.33%;
  display: inline-block;
  float: left;
}
@media (max-width: 68rem) {
  .checkout .col-7{
    padding-right: 2rem;
  }
  .checkout .summary{
    padding-left: 2rem !important;
  }
}
@media (max-width: 60rem) {
.checkout{
  padding-top: 7rem;
}
.summary{
  top:8rem;
}
}
@media (max-width: 58rem) {
  .field-half, .field-one-thirds, .field-two-thirds{
    width: 100%;
  padding-left:0;
  padding-right: 0;
  }
}
@media (max-width: 51rem) {
  .field-half{
  width: 50%;
  display: inline-block;
  float: left;
}
.field-two-thirds{
  width: 66.67%;
  display: inline-block;
  float: left;
}
.field-one-thirds{
  width: 33.33%;
  display: inline-block;
  float: left;
}
.checkout .col-7{
  width: 100%;
  padding-right: 0;
}
.field-left{
  padding: 0.5rem 0.3rem 0.5rem 0rem;
}
.field-right{
  padding: 0.5rem 0rem 0.5rem 0.3rem;
}
.field-middle{
  padding: 0.5rem 0.3rem;
}
.summary{
  display: none;
}
.mobile-summary, .mobile-summary-detail{
  display: block;
}
.email-input{
  margin-top: 1.5rem;
}
.confirmation-footer{
  position: relative;
}
}
@media (max-width: 40rem) {
  .field-half, .field-one-thirds, .field-two-thirds{
    width: 100%;
  padding-left:0;
  padding-right: 0;
  }
}
@media (max-width: 30rem) {
  .checkout-back{
    margin-top: 1rem;
  }
  .checkout .blue-button{
    width: 100%;
    margin-top: 1rem;
  }
  .confirm-section p{
    font-size: 0.9rem;
    padding-right: 0.5rem;
  }
  .confirm-section h3{
    font-size: 1.2rem;
  }

}
/*@media (max-width: 50rem) {
  .col-5{
    width: 100%;
  }
  .col-7{
    width: 100%;
  }
  .total{
    width: 100%;
  }
  .checkout h2{
    font-size: 2rem;
  }
  .summary{
    position: static;
  top:auto;
  }
  .review1{
    display: none;
  }
  .review2{
    display: inline-block;
  }
  .cancel1{
    display: none;
  }
  .cancel2{
    display: inline-block;
  }
  .fake-form{
    width: 100%;
  }
  .label{
    width: 30%;
  }
}





@media (max-width: 35rem) {
.shipping, .billing{
  width: 100%;
  margin-bottom: 1rem;
}
  }*/

/* ==================================================
   END OF CHECKOUT PAGE GRID
================================================== */

/* ==================================================
   ABOUT PAGE GRID
================================================== */


@media (max-width: 80rem) {
  .banner-title{
  width: 90%;
}
  .banner-title h2{
    margin-top: 1rem;
  line-height: 170%;
  font-size: 4rem;
}
.visitus h2{
  font-size: 4rem;
}
.visitus p{
  font-size: 1rem;
}
.bamboo h2{
  font-size: 4rem;
}
.bamboo p{
  font-size: 1rem;
}
  }
@media (max-width: 53rem) {

.banner-title{
  width:90%;
}

}

@media (max-width: 43rem) {
.banner-title p{
font-size: 1.2rem;
}
.banner-title h2{
  font-size: 4rem;
  line-height: 150%;
}

  }

@media (max-width: 30rem) {
  .banner-title h2{
    font-size: 3rem;
    line-height: 170%;
  }
  .banner-title p{
    font-size: 1rem;
  }
.visitus h2{
  font-size: 3rem;
}
.visit-text{
  width: 90%;
}
.bamboo h2{
  font-size: 3rem;
}
.bamboo-text{
  width: 90%;
}
}


/* ==================================================
   END OF ABOUT PAGE GRID
================================================== */


/* ==================================================
   CHAIR
================================================== */

@media (max-width: 40rem) {
  #post-button{
    width: 100%;
  }
}

/* ==================================================
   END OF CHAIR
================================================== */

/* ==================================================
   END OF receipt
================================================== */
@media (max-width: 56rem) {
  .mobile-receipt-payment{
    display: block;
  }
  .receipt-payment{
    display: none;
    padding: 0;
  }
  .checkout .col-4{
    width: 50%;
  }
  .receipt-footer{
    position: relative;
  }
}

@media (max-width: 38rem) {
  .mobile-receipt-payment{
    display: none;
  }
  .receipt-payment{
    display: block;
  }
  .checkout .receipt-summary{
    width: 100%;
  }
}

@media (max-width: 35rem) {
  .checkout .col-4{
    width: 100%;
  }
}

/* ==================================================
   END OF receipt
================================================== */

/* ==================================================
   footer
================================================== */
@media (max-width: 47rem) {
  .footer{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
/*@media (max-width: 26rem) {
  .footer{
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
  }
}*/
/* ==================================================
   END OF footer
================================================== */
