.vertical_body{
    /*position: absolute;*/
    margin-left: 5%;
    vertical-align: baseline;
    /*height: 100%;*/
    /*float:right;*/
}

.vertical_nav{
    display: block;
    z-index: 1000;
    /*width: 100em;*/
    height: 100%; /* Full height */
    position: fixed;  /*Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    /*float: left;*/
   
}

.active{
	display: none;
    width: 100%;
    
}

@media (max-width: 900px){
    .vertical_nav{
    	display: none;
    }

    .vertical_body{
    	margin-left:0%;
    	/*float:right;*/
        padding-top: 10em;
	}

	.active{
	display: block;
    position: fixed;
    
	}
}

.grid-6of10{
    width: 55%;
    height: 100%;
    display: inline-block;
    /*height: 10em;*/
    /*float: right;*/
}

.grid-4of10{
    width: 35%;
    height: 100%;
    display: inline-block;
    /*height: 10em;*/
    /*float: right;*/
}

.grid_img{  
    width: 58em;
    height: 60em;
    /*display: inline-block;*/
    display: inline-block;
    /*position: fixed;*/
    /*visibility: hidden;*/

}

.grid_product_text{  
    width: 47em;
    /*height: 60em;*/
    display: inline-block;
    padding: 3em;
    padding-bottom: 0;

}

.detail_img{
  width: 100%;
  height: 100%;
  /*position: fixed;*/
}



/*.grid_img img{
    margin-left: 0;
}*/

/*.item {
  width: 290px;
  margin: 10px;
  float: left;
}
.item img { width: 290px; }*/

/*----------------------------------------------------------
Media Queries
----------------------------------------------------------*/

/* @media only screen and (min-width: 768px) and (max-width: 959px) {
    .container{ width: 768px; }
 }
 @media only screen and (max-width: 767px) {
    .container { width: 300px; }
    .item { width:120px; }
    .item img { width: 120px; }
    #social-icons li {margin:0px 5px 5px 0px;}
    #social{height:75px;}
    #social aside {float: left; font-size: 12px;}
 }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { width: 420px; }
 }
*/