.vertical_body{
    /*position: absolute;*/
    margin-left: 5%;
    /*height: 100%;*/
    /*float:right;*/
}

.vertical_nav{
    display: block;
    /*width: 100em;*/
    height: 100%; /* Full height */
    position: fixed;  /*Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    /*float: left;*/
   
}

.active{
	display: none;
    width: 100%;
    
}

@media (max-width: 900px){
    .vertical_nav{
    	display: none;
    }

    .vertical_body{
    	margin-left:0%;
    	/*float:right;*/
        padding-top: 10em;
	}

	.active{
	display: block;
    position: fixed;
    
	}
}

.grid-6of10{
    width: 55%;
    height: 100%;
    display: inline-block;
    /*height: 10em;*/
    /*float: right;*/
}

.grid-4of10{
    width: 35%;
    height: 100%;
    display: inline-block;
    /*height: 10em;*/
    /*float: right;*/
}