body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #000000;
}




/*Vertical Navigation Bar setting*/
.vertical_nav div{
  width: 5em; /*width of the Nav*/
  height: 100em;
  background-color: #000000;
  position: fixed;  /*Make it stick, even on scroll */

}

.vertical_nav ul{
  width: 5em; /*width of the Nav*/
  padding-left: 0;
  padding-top: 10em; /*the padding of the icons*/
  list-style: none;
  /*text-align: center;*/

}


.vertical_nav ul li{
  /*width: 20em;*/
  height: 3em; /*hight of the navigation list*/
  padding: 0.5em;
  position: relative;
  /*background-color: blue;*/
  color: #000000;
  text-align: left;
  opacity: 0.9;
/*  border-top: 0.1em solid #bda67c;
  border-right: 0.1em solid #bda67c;*/

}

.vertical_nav ul li ul li{ /*the padding of the text in the pop out vertical nav*/
  padding-left: 2.5em; 
  padding-top: 1.5em;


}

.vertical_nav ul li:hover {
    background-color: white;
    /*color: white;*/
}

.vertical_nav ul li ul{
  width: 20em; /* width of the pop out list*/
  height: 100em;
  padding: 0em;
  background-color: #0D0D0D;
}

.vertical_nav ul li a{
  color: #bda67c;
  text-decoration: none;

}

.vertical_nav ul ul{
  
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 100%;
  top: -30em;
 
 }



.vertical_nav ul li:hover > ul{
  opacity: 1;
  visibility: visible;
  /*transition: all 0.3s;*/
  /*z-index: 1000;*/
  
}

#vertical_icon_list{
  padding-top: 10em;
}

#vertical_nav_padding_top1{  /*space for the top of the pop out list*/
  padding-top: 23em;
}

#vertical_nav_padding_top2{  /*space for the top of the pop out list*/
  padding-top: 19em;
}

#vertical_nav_padding_top3{  /*space for the top of the pop out list*/
  padding-top: 15em;
}

#vertical_nav_padding_top4{  /*space for the top of the pop out list*/
  padding-top: 11em;
}


/*Horizontal Navigation Bar setting*/
.active{
  padding: 1em;
  background-color: #000000;
  text-decoration: none;
  margin: 0;
/*  padding-left: 30%;
  padding-right: 44%;*/
  position: fixed;
  /*padding-right: 0;*/

}

.active ul {
  /*position: fixed;*/
    list-style-type: none;
/*    margin: 0;
    padding: 0;*/
    overflow: hidden;
    /*background-color: green;*/
    /*color: #B29C75;*/
    /*position: center;*/
    color: white;
    text-decoration: none;
    /*padding-left: 10em;*/



}


.active ul li {
    /*color: #B29C75;*/
    color: white;
    float: left;
    list-style-type: none;
    /*background-color: white;*/
    text-decoration: none;
}

.dropdown div{
  width: 100%;
}

.active li a, .dropbtn {
    display: inline-block;
    color: #B29C75;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

.active li a:hover {
    background-color: white;
}
.dropdown:hover {
  background-color: white;
}

.dropbtn:hover{
  background-color: white;

}

.active li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0D0D0D;
    /*min-width: 60em;*/
    /*box-shadow: 0em 80em 16em 0em rgba(0,0,0,0.2);*/
    text-decoration: none;
    left: -1%
}

.dropdown-content a {
    /*color: black;*/
    padding: 1em 2em;
    text-decoration: none;
    display: block;
    text-align: left;
    /*position: relative;*/


}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*vertical_body settings*/

.vertical_body{
  padding: 4em;
  background-color: #000000;
  color: #B29C75; 
  
}


.vertical_body ul{
  list-style: none;
}

#product_list{
  width: 20em;
  border: 2px solid #bea67c;
  /*border-left: 2px solid #bea67c;*/

}



h1{
  color: white;
}

.floating-box {
    display: inline-block;
    width: 33em;
    height: 100%;
    margin: 1em;
    /*border: 0.2em solid #bea67c;  */
    margin-right: 0;
    margin-left: 0;
}

.metro_box{
  padding: 0.5em;
  padding-top: 1em;
}


.metro_text_box{
    background-color: lightgrey;
    width: 15.3em;
    height: 15.3em;
    padding: 0.5em;
    padding-top: 1em;
    /*padding: 25px;*/
    /*border: 25px solid navy;*/
    /*margin: 25px;*/
}

.metro_box1{

  width: 15.3em;
  height: 15.3em;
  padding: 0.5em;
  padding-top: 1em;

}

.metro_box2{

  width: 32em;
  height: 15.3em;
  padding: 0.5em;
  padding-top: 1em;

}


#show_border{
  border: 0.2em solid #bea67c; 
}


.button-CS {
  display: inline-block;
  padding: 0.8em 2.8em; /*Clears an area around the content.*/
  margin: 2em 1em 0em 0em; /*Clears an area outside the border.*/
  color: #bea67c;
  border: 2px solid #bea67c;
  border-radius: 0em;
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: .2em;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-CS:hover, .button-CS:focus {
  color: #0b0b0d;
  background-color: #bea67c;
  border: 2px solid #bea67c;
}

/* Styling for the Checkout button */
.button-checkout {
  display: inline-block;
  padding: 0.8em 2.8em;
  color: #000;
  background-color: #bea67c;
  border: 2px solid #bea67c;
  border-radius: 0em;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: .2em;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-checkout:hover, .button-checkout:focus {
  color: white;
  color: #bea67c;
  border: 2px solid #bea67c;
}